body {
    background-color: #f8f9fa;
}

h1 {
    font-weight: 700;
}

.table td img {
    vertical-align: middle;
}

.card-container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.btn-sm img {
    width: 20px;
    height: 20px;
}

